<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário UEPA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .main {
            margin: 0 auto;
            max-width: 1200px;
            padding: 4rem;
        }

        form {
            padding: 5px;
            max-width: 500px;
            margin: auto;
        }

        form input {
            max-width: 500px;
        }
    </style>
</head>

<body>
    <div class="main">
        <form action="/submit" method="POST">
            <div class="form-group">
                <label for="nome">Nome completo</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="nome_pai">Nome completo do pai</label>
                <input type="email" class="form-control" id="nome_pai" name="nome_pai" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="nome_mae">Nome completo da mãe</label>
                <input type="email" class="form-control" id="nome_mae" name="nome_mae" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="data_nascimento">Data de nascimento</label>
                <input type="date" class="form-control" id="data_nascimento" name="data_nascimento" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="cidade_nascimento">Cidade de nascimento</label>
                <input type="email" class="form-control" id="cidade_nascimento" name="cidade_nascimento" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="estado_civil">Estado Civil</label>
                <input type="email" class="form-control" id="estado_civil" name="estado_civil" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="rg">RG</label>
                <input type="email" class="form-control" id="rg" name="rg" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="orgao_emissor">Órgão emissor</label>
                <input type="email" class="form-control" id="orgao_emissor" name="orgao_emissor" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="data_expedicao">Data de expedição</label>
                <input type="date" class="form-control" id="data_expedicao" name="data_expedicao" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="text" class="form-control" id="cpf" name="cpf" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="ctps">CTPS nº</label>
                <input type="email" class="form-control" id="ctps" name="ctps" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="serie">Série</label>
                <input type="email" class="form-control" id="serie" name="serie" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="categoria">Categoria</label>
                <input type="email" class="form-control" id="categoria" name="categoria" placeholder="" required>
            </div>

            <label>Certidão de:</label>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label" for="casamento">
                        Casamento
                    </label>
                    <input class="form-check-input" type="radio" name="tipo_certidao" id="casamento" value="casamento">
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label" for="nascimento">
                        Nascimento
                    </label>
                    <input class="form-check-input" type="radio" name="tipo_certidao" id="nascimento" value="nascimento">
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Raça</label>
                <input type="email" class="form-control" id="email" name="" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Endereço</label>
                <input type="email" class="form-control" id="email" name="" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Bairro</label>
                <input type="email" class="form-control" id="email" name="" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">CEP</label>
                <input type="email" class="form-control" id="email" name="" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Cidade</label>
                <input type="email" class="form-control" id="email" name="" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">UF</label>
                <input type="email" class="form-control" id="email" name="" placeholder="" required>
            </div>
            <label>Fone:</label>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Telefone</label>
                            <input type="email" class="form-control" id="email" name="" placeholder="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Celular</label>
                            <input type="email" class="form-control" id="email" name="" placeholder="" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">E-mail</label>
                <input type="email" class="form-control" id="email" name="" placeholder="" required>
            </div>

            <label>DADOS DE FORMAÇÃO</label><br>
            <label>Escolaridade:</label><br>

            <div class="form-group">
                <div class="form-group">
                    <label>Ensino fundamental: </label>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="estado_ensino_fundamental">
                            Completo
                        </label>
                        <input class="form-check-input" type="radio" name="estado_ensino_fundamental" id="estado_ensino_fundamental" value="completo">
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="estado_ensino_fundamental">
                            Incompleto
                        </label>
                        <input class="form-check-input" type="radio" name="estado_ensino_fundamental" id="estado_ensino_fundamental" value="incompleto">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="data_inicio_fundamental">Início:</label>
                            <input type="date" class="form-control" id="data_inicio_fundamental" name="data_inicio_fundamental" placeholder="" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="data_termino_fundamental">Fim:</label>
                            <input type="date" class="form-control" id="data_termino_fundamental" name="data_termino_fundamental" placeholder="" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Ensino médio: </label>
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="estado_ensino_medio">
                        Completo
                    </label>
                    <input class="form-check-input" type="radio" name="estado_ensino_medio" id="estado_ensino_medio" value="completo">
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="estado_ensino_medio">
                        Incompleto
                    </label>
                    <input class="form-check-input" type="radio" name="estado_ensino_medio" id="estado_ensino_medio" value="incompleto">
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="data_inicio_medio">Início:</label>
                            <input type="date" class="form-control" id="data_inicio_medio" name="data_inicio_medio" placeholder="" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="data_termino_medio">Fim:</label>
                            <input type="date" class="form-control" id="data_termino_medio" name="data_termino_medio" placeholder="" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Ensino superior: </label>
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="estado_ensino_superior">
                        Completo
                    </label>
                    <input class="form-check-input" type="radio" name="estado_ensino_superior" id="estado_ensino_superior" value="completo">
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="estado_ensino_superior">
                        Incompleto
                    </label>
                    <input class="form-check-input" type="radio" name="estado_ensino_superior" id="estado_ensino_superior" value="incompleto">
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="data_inicio_superior">Início:</label>
                            <input type="date" class="form-control" id="data_inicio_superior" name="data_inicio_superior" placeholder="" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="data_termino_fundamental">Fim:</label>
                            <input type="date" class="form-control" id="data_termino_superior" name="data_termino_superior" placeholder="" required>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="pos_graduacao">Pós-graduação:</label>
                <input type="text" class="form-control" name="pos_graduacao" id="pos_graduacao" required>
            </div>
            <div class="form-group">
                <label for="especializacao">Especialização</label>
                <input type="text" class="form-control" name="especializacao" id="especializacao" required>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="data_inicio_especializacao">Início:</label>
                            <input type="date" class="form-control" id="data_inicio_especializacao" name="data_inicio_especializacao" placeholder="" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="data_termino_especializacao">Fim:</label>
                            <input type="date" class="form-control" id="data_termino_especializacao" name="data_termino_especializacao" placeholder="" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="mestrado">Mestrado:</label>
                <input type="text" class="form-control" name="mestrado" id="mestrado" required>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="data_inicio_mestrado">Início:</label>
                            <input type="date" class="form-control" id="data_inicio_mestrado" name="data_inicio_mestrado" placeholder="" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="data_termino_mestrado">Fim:</label>
                            <input type="date" class="form-control" id="data_termino_mestrado" name="data_termino_mestrado" placeholder="" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="doutorado">Doutorado:</label>
                <input type="text" class="form-control" name="doutorado" id="doutorado" required>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="data_inicio_doutorado">Início:</label>
                            <input type="date" class="form-control" id="data_inicio_doutorado" name="data_inicio_doutorado" placeholder="" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="data_termino_doutorado">Fim:</label>
                            <input type="date" class="form-control" id="data_termino_doutorado" name="data_termino_doutorado" placeholder="" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="data">Data:</label>
                <input type="text" class="form-control" id="data" name="data" placeholder="" required readonly>
            </div>
        </form>
    </div>

    <script>
        const date = new Date();
        console.log(date);
    </script>

</body>

</html>